.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

form {
  align-items: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding-right: 150px;
  padding-left: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  background: rgb(237, 227, 227);
}

.button {
  height: 50px;
  margin-left: 75px;
  padding-right: 25px;
  margin-top: 40px;

  font-size: 40px;
}

h2 {
  font-style: oblique;
  font-size: 30px;
}
